package main

import (
	"context"
	"crypto/rand"
	"crypto/rsa"
	"net/http"
	"net/http/httptest"
	"testing"
	"time"

	ssf "github.com/idfoundry/ssfgo"
	"github.com/idfoundry/ssfgo/caep"
	"github.com/idfoundry/ssfgo/receiver"
	"github.com/idfoundry/ssfgo/ssftest"
	"github.com/idfoundry/ssfgo/storage/memstore"
	"github.com/idfoundry/ssfgo/transmitter"
)

// What docs/guides/testing.md marks as the application's own.
type app struct{}

func (*app) signedIn(ssf.Subject) bool { return false }

func newApp(*receiver.Receiver) *app                             { return &app{} }
func revokeSession(*testing.T, *transmitter.Transmitter, string) {}

// SNIPPETS docs/guides/testing.md "## Testing a Receiver"

// SNIPPETS docs/guides/testing.md "## Testing a Transmitter"

func main() {
	_, _ = TestRevokedSessionEnded, TestSessionRevokedDelivered
	_, _, _, _ = context.Background, time.Now, caep.Register, ssftest.NewReceiver
}
